@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
}

.menu-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background: gold;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 25%;
}

.menu.active {
    right: 0;
}

.close-menu {
    color: white;
    cursor: pointer;
    font-size: 24px;
}

.menu-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-option {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
