header {
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', sans-serif;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
}

.menu {
    position: relative;
    display: flex;
    cursor: pointer;
    width: 200px;
    text-align: center;
    justify-content: center;
    margin-left: auto; /* Pushes menu to right side */
}

.menu-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align dropdown to right */
    position: absolute;
    top: 100%;
    right: 0; /* Align to right edge of .menu */
    width: 100%;
    z-index: 1;
    gap: 10px;
    padding: 10px 0;
    transform: translateY(-130%);
    transition: transform 0.3s ease-in-out;
}

.menu:hover .menu-options {
    transform: translateY(0%);
}

.menu-option {
    padding: 12px;
    width: 90%;
    margin-bottom: 10px;
    background-color: #000000;
    border: 2px solid rgb(227, 163, 1);
    border-radius: 12px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
}

.menu-option:hover {
    background-color: #f69c00;
    text-decoration: none;
    transition: 400ms;
}
